/* —— Data: VirtualScroller —— */
.m-virtualscroller {
    border: var(--m-border-width) solid var(--m-color-border);
    border-radius: var(--m-radius-md);
    overflow: auto;
    position: relative;
    width: 100%;
}

.m-virtualscroller__spacer {
    position: relative;
    width: 100%;
}

.m-virtualscroller__content {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.m-virtualscroller__item {
    box-sizing: border-box;
}
