.wk-radio__control {
    border-radius: var(--wk-radius-full);
}

.wk-radio__input:checked + .wk-radio__control::after {
    background: var(--wk-color-on-emphasis);
    border-radius: var(--wk-radius-full);
    content: "";
    height: 0.375rem;
    width: 0.375rem;
}
