.m-radio__control {
    border-radius: var(--m-radius-full);
}

.m-radio__input:checked + .m-radio__control::after {
    background: var(--m-color-on-emphasis);
    border-radius: var(--m-radius-full);
    content: "";
    height: 0.375rem;
    width: 0.375rem;
}
