/* —— Panel: Splitter —— */
.m-splitter {
    --m-splitter-trigger-size: 6px;
    display: flex;
    min-height: 6rem;
    overflow: hidden;
    width: 100%;
}

.m-splitter--horizontal {
    flex-direction: row;
}

.m-splitter--vertical {
    flex-direction: column;
}

.m-splitter--dragging,
.m-splitter--dragging * {
    user-select: none !important;
}

.m-splitter__panel {
    background: var(--m-color-surface);
    min-height: 0;
    min-width: 0;
    overflow: auto;
}

.m-splitter__panel--fill {
    flex: 1 1 0;
}

.m-splitter__gutter {
    background: var(--m-color-border);
    flex: 0 0 var(--m-splitter-trigger-size);
    touch-action: none;
    z-index: var(--m-z-popper);
}

.m-splitter--horizontal > .m-splitter__gutter {
    cursor: col-resize;
    width: var(--m-splitter-trigger-size);
}

.m-splitter--vertical > .m-splitter__gutter {
    cursor: row-resize;
    height: var(--m-splitter-trigger-size);
    width: 100%;
}

.m-splitter__gutter:hover,
.m-splitter--dragging > .m-splitter__gutter,
.m-splitter__gutter:focus-visible {
    background: var(--m-color-primary);
}

.m-splitter__gutter:focus-visible {
    box-shadow: var(--m-focus-shadow);
    outline: none;
}

.m-splitter--disabled {
    opacity: var(--m-opacity-disabled);
}

.m-splitter--disabled > .m-splitter__gutter {
    cursor: not-allowed;
    pointer-events: none;
}
