/* —— Form: IconField —— */
.m-icon-field {
    align-items: center;
    display: inline-flex;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.m-icon-field__icon {
    align-items: center;
    color: var(--m-color-text-muted);
    display: inline-flex;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.m-icon-field--left .m-icon-field__icon {
    left: var(--m-control-padding-x-medium);
}

.m-icon-field--right .m-icon-field__icon {
    right: var(--m-control-padding-x-medium);
}

.m-icon-field--left :is(.m-input, .m-textarea, .m-password__input, .m-inputnumber__input) {
    padding-left: var(--m-control-affix-padding);
}

.m-icon-field--right :is(.m-input, .m-textarea, .m-password__input, .m-inputnumber__input) {
    padding-right: var(--m-control-affix-padding);
}

.m-icon-field--left:has(.m-input--small, .m-textarea--small, .m-password--small, .m-inputnumber--small)
    .m-icon-field__icon {
    left: var(--m-control-padding-x-small);
}

.m-icon-field--right:has(.m-input--small, .m-textarea--small, .m-password--small, .m-inputnumber--small)
    .m-icon-field__icon {
    right: var(--m-control-padding-x-small);
}

.m-icon-field--left:has(.m-input--large, .m-textarea--large, .m-password--large, .m-inputnumber--large)
    .m-icon-field__icon {
    left: var(--m-control-padding-x-large);
}

.m-icon-field--right:has(.m-input--large, .m-textarea--large, .m-password--large, .m-inputnumber--large)
    .m-icon-field__icon {
    right: var(--m-control-padding-x-large);
}

.m-icon-field--left:has(.m-input--small, .m-textarea--small, .m-password--small, .m-inputnumber--small)
    :is(.m-input, .m-textarea, .m-password__input, .m-inputnumber__input) {
    padding-left: var(--m-control-affix-gap);
}

.m-icon-field--right:has(.m-input--small, .m-textarea--small, .m-password--small, .m-inputnumber--small)
    :is(.m-input, .m-textarea, .m-password__input, .m-inputnumber__input) {
    padding-right: var(--m-control-affix-gap);
}

.m-icon-field--left:has(.m-input--large, .m-textarea--large, .m-password--large, .m-inputnumber--large)
    :is(.m-input, .m-textarea, .m-password__input, .m-inputnumber__input) {
    padding-left: calc(var(--m-control-affix-padding) + var(--m-space-1));
}

.m-icon-field--right:has(.m-input--large, .m-textarea--large, .m-password--large, .m-inputnumber--large)
    :is(.m-input, .m-textarea, .m-password__input, .m-inputnumber__input) {
    padding-right: calc(var(--m-control-affix-padding) + var(--m-space-1));
}
