/* —— Form: IconField —— */
.wk-icon-field {
    align-items: center;
    display: inline-flex;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.wk-icon-field__icon {
    align-items: center;
    color: var(--wk-color-text-muted);
    display: inline-flex;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.wk-icon-field--left .wk-icon-field__icon {
    left: var(--wk-control-padding-x-medium);
}

.wk-icon-field--right .wk-icon-field__icon {
    right: var(--wk-control-padding-x-medium);
}

.wk-icon-field--left :is(.wk-input, .wk-textarea, .wk-password__input, .wk-inputnumber__input) {
    padding-left: var(--wk-control-affix-padding);
}

.wk-icon-field--right :is(.wk-input, .wk-textarea, .wk-password__input, .wk-inputnumber__input) {
    padding-right: var(--wk-control-affix-padding);
}

.wk-icon-field--left:has(.wk-input--small, .wk-textarea--small, .wk-password--small, .wk-inputnumber--small)
    .wk-icon-field__icon {
    left: var(--wk-control-padding-x-small);
}

.wk-icon-field--right:has(.wk-input--small, .wk-textarea--small, .wk-password--small, .wk-inputnumber--small)
    .wk-icon-field__icon {
    right: var(--wk-control-padding-x-small);
}

.wk-icon-field--left:has(.wk-input--large, .wk-textarea--large, .wk-password--large, .wk-inputnumber--large)
    .wk-icon-field__icon {
    left: var(--wk-control-padding-x-large);
}

.wk-icon-field--right:has(.wk-input--large, .wk-textarea--large, .wk-password--large, .wk-inputnumber--large)
    .wk-icon-field__icon {
    right: var(--wk-control-padding-x-large);
}

.wk-icon-field--left:has(.wk-input--small, .wk-textarea--small, .wk-password--small, .wk-inputnumber--small)
    :is(.wk-input, .wk-textarea, .wk-password__input, .wk-inputnumber__input) {
    padding-left: var(--wk-control-affix-gap);
}

.wk-icon-field--right:has(.wk-input--small, .wk-textarea--small, .wk-password--small, .wk-inputnumber--small)
    :is(.wk-input, .wk-textarea, .wk-password__input, .wk-inputnumber__input) {
    padding-right: var(--wk-control-affix-gap);
}

.wk-icon-field--left:has(.wk-input--large, .wk-textarea--large, .wk-password--large, .wk-inputnumber--large)
    :is(.wk-input, .wk-textarea, .wk-password__input, .wk-inputnumber__input) {
    padding-left: calc(var(--wk-control-affix-padding) + var(--wk-space-1));
}

.wk-icon-field--right:has(.wk-input--large, .wk-textarea--large, .wk-password--large, .wk-inputnumber--large)
    :is(.wk-input, .wk-textarea, .wk-password__input, .wk-inputnumber__input) {
    padding-right: calc(var(--wk-control-affix-padding) + var(--wk-space-1));
}
