.m-checkbox__control {
    border-radius: var(--m-radius-sm);
}

.m-checkbox__control svg {
    fill: none;
    height: 0.875rem;
    stroke: var(--m-color-on-emphasis);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    width: 0.875rem;
}

.m-checkbox__input:indeterminate + .m-checkbox__control {
    background: var(--m-color-primary);
    border-color: var(--m-color-primary);
}
